
html,body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: #e7f7e6;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

nav .navbar-nav .nav-link,
nav .navbar-brand {
  z-index: 1 ;
   color: black;
}
.navbar-brand img
{
  height: 40px;
  max-width: 100%;
  padding-left: 40px;
}
.first {
  height:100vh;
  max-width: 100%;
  background-image: url(/imgs/b2.jpg);
  background-size: cover;
  position: relative;
}
.container{
  margin: auto;
  top: 50vh;
  left: 25%;
  max-width: 50%;
  padding: 10px;
  text-align: center;
  color: white;
  font-style: normal;
  font-family: monospace;
  position: absolute; 

}
.container p{
  font-family: monospace;
  letter-spacing: 0ch;
}
.container h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#about{
  height:100vh;
  max-width: 100%;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  background-color: #e7f7e6;
  position: relative;
}

.acontainer{
  margin: auto;
  top: 5px;
  left: 10%;
  max-width: 100%;
  height: auto;
  text-align: center;
  margin: 0 !important;
  font-style: normal;
  font-family: monospace;
  position: absolute; 
}
.acontainer h2{
  letter-spacing: 0ch;
  font-size: 5ch;
  color: #46aa3f;
}
.acontainer h1{
  font-size: 5ch;
  letter-spacing: 0ch;
  color: #46aa3f;
}
.square {
  background-image: url(/imgs/ab1.jpg);
  position: absolute;
  background-repeat:space;
  background-size: contain;
  top: 150px;
  left: 40px;
  height: 700px;
  width: 360px;
}
.aboutus{
  margin: auto;
  top: 30vh;
  left: 27%;
  height: auto;
  max-width: 70%;
  text-align: center;
  margin: 0 !important;
  padding: 0%;
  font-style: normal;
  font-family: monospace;
  position: absolute; 
}
section {
  height:calc(90% - 50px);
  height: 90vh;
}
.btn {

    font-size: 15px;
    display: flex;
    text-decoration: none;
    text-transform: capitalize;
    grid-area: auto;
    display: inline-block;
    letter-spacing: 2px;
    outline: none;
    border-radius:20px;
    margin: 15px;
    padding: 8px 20px;
    border: 2px solid #fff;
}
.btn a {
  text-align: center;
  color:white;
  margin-block: 15px;
  font-size: 15px;
}
.btn a:hover{
  color: rgb(95, 230, 135);
}
#services{
  height: 100vh;
  background-image: url(/imgs/s1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
#services .container{
  top: 80px;
}

#galary{
  height:100vh;
  max-width: 100%;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  background-color: #e7f7e6;
  position: relative;
}
.grid { 
  height: auto;
  position: absolute;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: start;
  justify-items: start; 
  }
.grid img {
  display: grid;
  border: 1px solid #ccc;
  box-sizing: content-box;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}
.pic{
  position: absolute;
  top: 20vh;
  height: 150vh;
  width: 1100px;
}
.grid:hover img{
  transform: scale(1.4);

}
footer {
  background: #e7f7e6;
  padding: 10px 0;
  text-align: center;
}
footer a {
  color: #341db4; 
  font-size: 20px;
  padding: 5px;
  transition: all .5s ease;
}

footer a:hover {
  color: rgb(40, 190, 103);
}
footer img{
  height: 90px;
}
header {
  background-color: #e7f7e6;
  padding: 20px 0;
}
/* Dropdown menu */
.dropdown-menu {
  background-color: #5ab47c;
}
.custom-signin{
  margin-top: 100px !important;
  margin-bottom: 250px !important;
}
